<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../CSS/style.css">


	<!-- Шрифти -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class="header">
				
		<nav class="navbar navbar-expand-lg " style="background-color: black;">
			<div class="container">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 head_list  "   >
						<li class="nav-item ">
						  <a class="nav-link active  " aria-current="page" href="main-page.html">Головна</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link  " href="#">Доставка та оплата</a>
						</li>
						<li class="nav-item ">
						  <a class="nav-link " href="garanti.html"> Гарантія/ Повернення </a>
						
						</li>
						<li class="nav-item">
						  <a class="nav-link  " href="#" >Контакти</a>
						</li>
					 </ul>
					
				  </div>
		</nav><div class="midleheader">
			<div class="container ">
			  <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
				  <div class="container">
					  <div class="row">
						  <div class="col contantd photo-item " style="width: 230px; height: 100%;">
							  <a class="navbar-brand" href="#">
								  <img src="../../media/imgonline-com-ua-Replace-color-tc87FXAM0b.jpg"
										  height="45" width="204"/>
							  </a>
						  </div>
						  <div class="col-md-auto container-fluid phone-item">
							  <div class="phone "  >
								  <a class="phone_1 col " href="tel:#">+38 (098) 063 8346</a>
								</div>
								<div class="timework">
								  Звоніть з 10:00 до 20:00 <br> або закажіть 
								  <a href="#" class="callme text-warning">зворотній дзвінок</a>
							  </div>
						  </div>
						  <div class=" cart col col-lg-2">
							  <a class="navbar-brand" href="#"> 
								  <span class="cartname">Корзина</span><br>
								  <span class="whatinside">Корзина пуста</span>	
							  </a>
						  </div>
						</div>
					 </div>
				</nav>
			</div>
		</div>
	</div>
	<div class="search_box">
		<header class="p-0 text-white" style="background: black;">
			<div class="container" >
			  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="background-color: black;">
				 <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
				 </a>
	  
				 <ul class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center mb-md-0 catalog">
				<li><a href="#" class="nav-link px-2 text-white">Каталог товарів</a></li>
				 </ul>
	  
				 <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex">
					<input type="search" class="form-control form-control-dark" placeholder="Пошук..." aria-label="Search">
					<button class="btn btn-outline-warning me-4 button-search" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					 </svg></button>
				</form>
	  
			  </div>
			</div>
		 </header>
	<div class="wrapper">
		<div class="container"><div class="refund">
			<h1>Повернення і Гарантія</h1>
			<p>Возврат изделий надлежащего качества осуществляется в течении 14 дней со дня покупки (получения на перевозчике), при условии сохранности внешнего вида, все защитные пленки не снимались, нет царапин, потертостей, сколов, следов использования и иных механических повреждений и дефектов, на счетчике разговоров не более 5 минут, комплектация аксессуаров полная и в идеальном состоянии. Это условие также распространяется на все аксессуары.</p>
			<p>При получении устройства, в том числе на отделении перевозчика, клиент обязан проверить внешний вид, характеристики, комплектацию и работоспособность устройства и аксессуаров. При обнаружении механического повреждения на товаре, недостачи или повреждения самой посылки ОБЯЗАТЕЛЬНО составляется АКТ осмотра с сотрудниками курьерской службы. Без данных документов претензии не принимаются и обмен или возврат не возможен. Если изделие числится полученным от перевозчика, то претензии к внешнему виду, характеристикам и комплектации изделия, а также к работоспособности аксессуаров не предъявляются. Описания и характеристики товара в нашем прайсе выкладываются с ознакомительной целью. Мы не несем ответственности за точность предоставляемой информации.</p>
			<p>Все транспортные расходы, связанные с возвратом нового товара в течении 14 дней, оплачиваются Покупателем.
				Гарантия на весь товар 14 дней в Украине в нашем сервисном центре и 11 месяцев гарантии от производителя.
				Отправка доставки товара в сервисный центр (СЦ) производится за счет покупателя.
				Если покупатель отправил негарантийное устройство:</p>
			<p>Покупатель может получить ремонт на платной основе. В случае, если дефектное устройство было отправлено по почте,
				то Покупатель должен будет оплатить как стоимость ремонта, так и стоимость пересылки обратно.
				Все товары, отправленные в СЦ, обязательно проходят через диагностику нашего сервисного центра.</p>
			<p>Если покупатель отправляет товар на обмен или ремонт, просим писать и вкладывать с товаром в посылку лист с кратким описанием выявленных проблем,
				это облегчит процесс диагностики устройста в СЦ</p>
			<p>Если устройство было повреждено в момент пересылки:</p>
			<p>Если в момент получения почтового отправления было обнаружено повреждение упаковки, то ответственность несет Служба доставки.
				Если же упаковка не была повреждена, то ответственность несет Отправитель.
				Напоминаем о том что, упаковка посылок должна обеспечивать сохранность и соответствовать характеру вложения, условиям пересылки,
				исключать возможность повреждения вложения при обработке и пересылке, доступа к нему без нарушения оболочки, порчи других отправлений
				и причинения какого-либо вреда имуществу и работникам почтовой связи.</p>
			<h6>Что НЕ является гарантийным случаем:</h6>
			<ul>
				<li> При наличии у изделия внешних и внутренних механических повреждений и дефектов (сколы, трещины, деформация частей, глубокие царапины,
					сломанные кнопки управления, повреждение сетевых шнуров, разломы и трещины соединителей)</li>
				<li> Несоблюдения правил транспортирования, хранения, подключения, эксплуатации и ухода за изделием, а также неправильного и небрежного обращения с ним,
					при попадении устройства в воду, или его хранения и эксплуатации во влажной среде (включая устройства с заявленной производителем защитой IP67, IP68 и др.),
					и несоблюдении допустимой температуры для хранения устройства, несанкционированного тестирования товара или попыток внесения изменений в его конструкцию
					или его программное обеспечение, в т. ч. ремонта или технического обслуживания в неуполномоченной ремонтной организации, при падении,
					сильном сжатии устройства, его загрязнении от пищи или от жидкости и др.)</li>
				<li>Другие повреждения, возникшие при форс-мажорных обстоятельствах</li>
				<li>При отсутствии или повреждении маркировки с серийным номером на корпусе изделия, а также, если серийный номер был изменен, удален или неразборчив</li>
				<li>Если повреждения на аксессуарах возникли из-за неаккуратного использования Покупателем: 
					- если аксессуар не был комплектующей продукта
					- аксессуар не входил в комплект </li>
				<li>Если отсутствует или нарушена целостность контрольной пломбы (при опломбировании изделия изготовителем)</li>
				<li>Гарантия не распространяется на аксессуары, которые поставляются вместе с устройством: USB-кабели, зарядки, переходники под розетки, наушники, батареи и прочее</li>
				<li>Программное обеспечение и его некорректная работа не являются гарантийным случаем. Обновление или прошивка другого программного обеспечения
					также снимает изделие с гарантийного обслуживания</li>
			</ul>
		</div>
		</div>
	</div>
	</div>
	</div>




			
	 <!-- Footer-->
	 <footer class="py-5 "style='background: black;'>
		<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
  </footer>
	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>